<div class="row" style="margin-top:40px; padding:20px; background-color:#eff0f2;border-radius:15px;
-webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2);
box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2);">
    <div class="col-sm-12" style="text-align:center;">
        <h1 class="text-center mb-3"><i class="fas fa-sign-in-alt"></i>Create a new Workout Program!</h1>
    </div>


    <div class="col-sm-12">
        <form #createWorkoutForm="ngForm" (ngSubmit)="createWorkoutForm.valid && onSubmit(createWorkoutForm)">

        
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" #name="ngModel"
                    [(ngModel)]="workoutService.selectedWorkout.name" name="name" placeholder="Workout Name"
                    required [ngClass]="{'invalid-textbox' :createWorkoutForm.submitted && !name.valid}">

                <div *ngIf="createWorkoutForm.submitted && !name.valid">
                    <label class="validation-message">This field is required.</label>
                </div>
            </div>

            <div class="form-group">
                <label for="description">Description</label>
                <input type="text" class="form-control" #description="ngModel"
                    [(ngModel)]="workoutService.selectedWorkout.description" name="description" required
                    [ngClass]="{'invalid-textbox' :createWorkoutForm.submitted && !description.valid }"
                    placeholder="Description">

                <div *ngIf="createWorkoutForm.submitted && description.errors">
                    <label *ngIf="description.errors.required" class="validation-message">This field is
                        required.</label>
                </div>
            </div>


            <input type="submit" value="Submit">


        </form>
    </div>

    <!-- Success message -->
    <div class="success" *ngIf="showSucessMessage">
        Workout program successfully added
    </div>

    <!-- Error message -->
    <div class="alert" *ngIf="serverErrorMessages">
        {{serverErrorMessages}}
    </div>